@charset "utf-8";
@import '~vuetify/src/styles/styles.sass';

html{
  overflow-y: auto !important
}

.el-scrollbar__wrap{
  overflow-x: hidden
}

/* 日历样式 */
.v-calendar-weekly__head{
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  line-height: 40px;
}
.v-calendar .v-event{
  border-radius: 30px !important;
}