// globals css
@import "app";


$font-size-root:14px !default;
$input-font-size:14px !default;
$text-field-single-line-label-top:9px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height:36px !default;
$text-field-outlined-rounded-slot-padding:0 12px !default;
$text-field-outlined-fieldset-border:1px solid currentColor !default;


$treeview-node-height-dense:34px !default;
$treeview-label-font-size:11px !default;


$stepper-elevation:0 !default; // 步骤条海拔0
$stepper-header-elevation:0 !default;
$stepper-header-height: 48px !default;
$stepper-step-padding: 0 !default;
$stepper-header-divider-margin:0 4px !default;
$stepper-step-step-height:18px !default;
$stepper-step-step-min-width:18px !default;
$stepper-step-step-width:18px !default;
$stepper-step-step-font-size:12px !default;


$pagination-item-height:25px !default; // 分页条
$pagination-item-min-width:25px !default;
$pagination-more-height:24px !default;
$pagination-more-width:24px !default;

$pagination-navigation-height:18px !default;
$pagination-navigation-width:18px !default;
$shades:(
    'black': #242e42,
    'white': #f9fafc,
    'transparent': transparent
);

$material-light: (
    'navigation-drawer': #fff,
    'tabs': #36435c,
    'text': (
        'primary': map-get($shades, 'black'),
         'secondary': #5f708a,
    ),
    'icons': (
        'active': #79879c
    )
);


$material-dark-elevation-colors: (
        '0': #000000,
        '1': #1E1E1E,
        '2': #222222,
        '3': #252525,
        '4': #272727,
        '6': #2C2C2C,
        '8': #2E2E2E,
        '12': #333333,
        '16': #363636,
        '24': #373737
);

$material-dark: (
    'navigation-drawer': map-get($material-dark-elevation-colors, '4'),
);
