// globals css
@import "app";


$font-size-root:14px !default;
$input-font-size:14px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height:38px !default;


$light-bg:#eff4f8;

$material-light: (
    'background':$light-bg,
    'bg-color':$light-bg,
    'text': (
      'primary':#242e42,
    ),
);

$black-color:#495057 !default;

$material-dark: (
    'bg-color':$light-bg,
);
