// globals css
@import "app";


$font-size-root:14px !default;
$input-font-size:14px !default;
$text-field-single-line-label-top:9px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height:36px !default;
$text-field-outlined-rounded-slot-padding:0 12px !default;
$treeview-node-height-dense:34px !default;
$treeview-label-font-size:11px !default;

$shades:(
    'black': #242e42,
    'white': #f9fafc,
    'transparent': transparent
);

$material-light: (
    'navigation-drawer': #fff,
    'tabs': #36435c,
    'text': (
        'primary': map-get($shades, 'black'),
         'secondary': #5f708a,
    ),
    'icons': (
        'active': #79879c
    )
);


$material-dark-elevation-colors: (
        '0': #000000,
        '1': #1E1E1E,
        '2': #222222,
        '3': #252525,
        '4': #272727,
        '6': #2C2C2C,
        '8': #2E2E2E,
        '12': #333333,
        '16': #363636,
        '24': #373737
);

$material-dark: (
    'navigation-drawer': map-get($material-dark-elevation-colors, '4'),
);
